<h1>Please enter your information:</h1>
<%= render partial: "form" %>
<%# may not need a new order form anymore bc technically we are editing an already existing order and changing its status from pending to paid after submitting %>
