<h2>All Merchants</h2>

<ul class="row small-up-1 large-up-2 merchants">
<% @merchants.each do |merchant| %>
    <li class="column">
        <section>
            <h3 class="merchant-names"><%= link_to capitalize_each_word(merchant.user_name), merchant_path(merchant) %></h3>
        </section>
    </li>
<%end%>
</ul>
