// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.prod-dets {
  margin: 5%;
}

.details {
  margin-top: 5%;
  padding: 5% 5% 0 5%;
  border: 2pt solid #F5B19A;
  border-radius: 25px;
  color: #66CDAA;
}

ul li {
  display: inline;
}

.category-link {
    text-decoration: underline;
    margin: 1%;
}

.button {
  border-radius: 25px;
  // background-color: white;

}
