<h2>All Categories</h2>

<ul class="row small-up-3 large-up-5">
<% @categories.each do |category| %>
    <li class="column">
        <section>
            <%= link_to (image_tag "star_category_image.jpg", alt: "placeholder pinwheel for #{ category.name }", class: "product-image"), category_path(category) %>
            <h3><%= link_to capitalize_each_word(category.name), category_path(category) %></h3>
        </section>
    </li>
<%end%>
</ul>
