<h2>Category: <%= capitalize_each_word(@category.name) %></h2>

<% if @products.empty? %>
  <p>
    There are not any products currently in this category.
  </p>
<% end %>

<ul class="row small-up-3 large-up-4">
<% @products.each do |product| %>
    <li class="column">
        <section>
            <%= link_to (image_tag "#{product.photo_url}", alt: "#{product.name}", class: "product-image"), product_path(product) %>
            <h3><%= link_to capitalize_each_word(product.name), product_path(product) %></h3>
        </section>
    </li>
<%end%>
</ul>
