<h2>Category: <%= capitalize_each_word(@category.name) %></h2>
<% if @products.empty? %>
  <p>
    No products in this category!
  </p>
<% end %>

<% @products.each do |product| %>
    <%= link_to capitalize_each_word(product.name), product_path(product) %>
<% end %>
