<h2>All Products</h2>


<%@products.each do |product|%>
<section>
  <h2>
    <%= link_to capitalize_each_word(product.name), product_path(product) %>
  </h2>
  <p>
    <%= image_tag "#{product.photo_url}", alt: "#{product.name}", class: "product-image"%>
  </p>

  </section>
  <%end%>
