<h1>All products</h1>

<% @products.each do |p| %>
    <p>
      <%= p.name %>
      <% image = p.name.downcase.gsub(' ', '_') %>
      <%= image_tag("/app/assets/images/#{image}.jpeg", alt: "#{ p.name }") %>
    </p>
<% end %>
