<h2>All Products</h2>

<%@product.each do |product|%>
  <section>
    <h2>
      <%= link_to product.name, product_path(product) %>
    </h2>
    <p>
      <%= image_tag "#{product.photo_url}"%>
    </p>
    <p>
      <%= product.description %>
    </p>
  </section>
<%end%>
