<h1>All products</h1>

<% @products.each do |p| %>
    <p>
      <%= p.name %>
      <br />
      <% image = p.name.downcase.gsub(' ', '_') %>

      <%= link_to image_tag("#{image}.jpeg", alt: "#{ p.name }"), product_path(p) %>

    </p>
<% end %>
